<div>
    <script type="text/template" id="arrow-wrapper">
        <div class="arrow-block" id="im-arrow-pimg"><span class="arrow-down">&#x25BC</span></div>
    </script>

    <script type="text/template" id="primary-wrapper">
        <div class="p-img-popup" id="p-img-popup">
            <div class="images-container" id="images-container">

                <% _.forEach(images, function(image) { %>
                <div class="image-wrapper">
                    <img src="<%- image.path %>" alt="<%- image.title %>" title="<%- image.title %>"/>
                </div>
                <% }); %>

            </div>
            <div class="triangle-down-wrapper">
                <div class="triangle-down"></div>
                <div class="triangle-down-border"></div>
            </div>
        </div>
    </script>
</div>