.fl_r {
	float: right;
}

._im_send {
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12.5px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
	vertical-align: top;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	background: none;
	background-color: #5e81a8;
	color: #fff;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
}