@import "basics/colors";

.paste-img {
  $block-width: 30px;

  background-color: $cyan !important;
  position: relative;
  border-radius: 3px;

  .old-content-wrapper {
    margin-right: $block-width;
  }

  .arrow-block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $block-width;
    right: 0;
    top: 0;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 500ms;

    &:hover {
      background-color: $cyan-lighter;
    }
  }
}

.p-img-popup {
  display: none;
  position: absolute;
  width: 360px;
  height: 200px;
  bottom: 26px;
  left: 0;
  z-index: 200;
  cursor: default;

  .images-container {
    height: 190px;
    overflow: auto;
    white-space: normal;
    border: 1px solid $vk-blue;
    background-color: $white;
    box-shadow: $vk-blue 1px 1px 3px 0;

    .image-wrapper {
      display: inline-block;
      cursor: pointer;
      margin: 10px 0 10px 10px;

      img {
        max-width: 100px;
        width: 100px;
      }
    }
  }

  .triangle-down-wrapper .triangle-down,
  .triangle-down-wrapper .triangle-down-border {
    width: 0;
    height: 0;
    vertical-align: top;
    display: inline-block;
    position: absolute;
  }

  .triangle-down-wrapper {
    .triangle-down {
      left: 63px;
      bottom: 3px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid $white;
      z-index: 1;
    }
    .triangle-down-border {
      bottom: 1px;
      left: 62px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $vk-blue;
    }
  }
}