@import "basics/colors";

/*-----------------------------------------
Primary selector on the root node -> button
-----------------------------------------*/
.paste-img {
  padding: 7px 10px 8px !important;
  background-color: $primary !important;
  position: relative !important;
  border-radius: 3px !important;
  z-index: 100 !important;

  /*override vk behaviour on click*/
  &:active {
    padding-top: 7px !important;
    padding-bottom: 8px !important;
  }
}
